html,
body,
div,
p,
ul,
ol,
img,
a,
h3,
h4,
li,
header,
nav,
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
}
li {
  list-style: none;
}
